/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.jqm-header {
	background: white;
	box-shadow: 0 0px 1px #333;
}

#map { position:absolute; top:0; bottom:0; width:100%; }
		.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
			-webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-in;
			-moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-in;
			-o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-in;
			transition: transform 0.2s ease-out, opacity 0.2s ease-in;
		}
		
		.marker-cluster-small {
			background-color: rgba(181, 226, 140, 0.6);
			}
		.marker-cluster-small div {
			background-color: rgba(110, 204, 57, 0.6);
			}
		
		.marker-cluster-medium {
			background-color: rgba(241, 211, 87, 0.6);
			}
		.marker-cluster-medium div {
			background-color: rgba(240, 194, 12, 0.6);
			}
		
		.marker-cluster-large {
			background-color: rgba(253, 156, 115, 0.6);
			}
		.marker-cluster-large div {
			background-color: rgba(241, 128, 23, 0.6);
			}
		
		.marker-cluster {
			background-clip: padding-box;
			border-radius: 20px;
		}
		.marker-cluster div {
			width: 30px;
			height: 30px;
			margin-left: 5px;
			margin-top: 5px;
		
			text-align: center;
			border-radius: 15px;
			font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
		}
		.marker-cluster span {
			line-height: 30px;
		}
		
#map { height: 100%; width: 100%; }

.ui-content { padding: 0 0 0 0; }

.leaflet-top .leaflet-control { margin-top: 50px; }

.ui-icon-map {
    background-image: url("map.png");
    background-size: 18px 18px;
}

.leaflet-popup-content {
    text-align: center;
}

.apropos { padding: 0 10px; }
